.main_visual {
    text-align: center;
    margin: 0 auto 50px;
    max-width: 100%;
    height: auto;
}

.player img{
  display: inline-block;
  width: 100%;
  height: auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.calendar img{
  display: inline-block;
  width: 100%;
  height: auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.result img{
  display: inline-block;
  width: 100%;
  height: auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
